<section class="wrapper style3 container special firstbox">
  <div class='center'>
    <header class="major">
      <h2 class='pa4'>js.la to js.online</h2>
      <h3>How to take an in-person event online without losing the magic</h3>
    </header>

    <div class="mt4 row jsla-white-wrapper">
      <div class='mt4 center' style='width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;'>
        <iframe style='position: absolute; top: 0; left: 0; width: 100%; height: 100%;' src="https://www.youtube.com/embed/sGZh2aP96J4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class='center'>
        <h3 class='tc'>Transcript</h3>

        <p class='tc f5'>
          <a href='jsla-to-jsonline.pdf' download>Download Slides</a>
        </p>

        <div class='flex'>
          <div class="f5 measure ma5">

            <p>
              Hello, everyone. Hope you're doing great. My name is David Guttman. I help companies build awesome engineering teams. I've also written some JavaScript books. I host a podcast called <a href="//juniortosenior.io">Junior to Senior</a> and
              more relevant to this talk: I host an event in LA called js.la. Want to know any more about that? Here's my <a href='//davidguttman.com'>website</a>.

            </p>
            <p>
              Now we're going to go back in time to March 11th, 2020. So js.la is on the last Thursday of every month. So that would be about two weeks from March 11th. At this point in time, I've got two awesome speakers lined up two sponsors, a great host. There's
              over a hundred people on the RSVP list. Everything is going great, except you probably know where I'm going with this one. Small little problem. South Korea, not doing super well. Neither is Iran or Italy at this point in time, though, the
              U S has fewer than a thousand reported cases, which puts it somewhere between Germany and the diamond princess cruise ship within the US many States have zero reported cases, California, even with its tens of millions of people has somewhere
              between one and 200 at this point in time.
            </p>

            <p>
              I'm not really sure if it makes sense to cancel js.la not many people really have this, is it even in the U S is this even something to worry about now on this day, though, I'm starting to get the sense that yes, this is a big deal Biden and Sanders cancel
              their primary election night rallies. Their next debate is not going to have an audience and also Coachella was postponed. So is it really responsible of me to have a hundred or so people get together in the same room for a few hours.
              And ultimately I made the tough decision to cancel the event. This was a huge bummer. I was looking forward to the event as were a lot of other people I'm calling people up, sponsors. Other people to cancel was not fun. I was pretty bummed.
              And part of this is because js.la has a mission, and if we aren't hot if we're canceled, we can't do that.
            </p>

            <p>
              Jay's Lee's mission is to inspire and connect the tech community in LA. So two parts, one is conning speakers and two giving awesome talks. Here we are at Google, about 250 people. We have amazing speakers sometimes like Ryan dog, creator of node JS.
              And here is even the legendary Carter Rabassa who has graced our stage at one point time. Now, those awesome talks are really the foundation for the other part, the connections here's our holiday party JS.soiree. And here's just what a normal
              js.la looks like. A lot of people catching up talking about what they're working on, meeting with friends, forming new friendships, work relationships. This is really the structure of js.la community. So that connection part is really important.
              And what we try and do is really have a national level conference experience, but do it every month and for free, that's certainly a tall bar, but a lot of people think that we do a pretty good job in meeting it, which is great. So the inspire
              the connect those are really difficult to do
            </p>

            <p>
              If we're canceled. Of course, this begs the question and a lot of people asked and responded to this email, Hey, what about going online? Have you considered going virtual? And of course I did, but the truth is I was a little bit nervous. Can we provide
              the same level of experience by taking our in person event and going online there's would it just be a bad imitation? Would it just be better to not hold it at all? And so after thinking about it for awhile, I decided that we, we had to
              try. So how were we going to take those two parts now for the stage part and the talks? I didn't want to do a zoom webinar. That conference call feeling. I just thought was pretty, pretty lame. Youtube was an option. I felt like that was
              better for prerecorded talks.
            </p>

            <p>
              Ultimately I'd landed on Twitch. I feel like Twitch is the streaming platform for live performances, and it just seemed much more natural for where our talks should be as for the connect part, how we were going to do that. I had a lot more trouble. I
              didn't want to choose zoom, but ultimately it seemed like the most natural choice at the time. So our first attempt was a Twitch zoom combination. Both of our speakers were totally down to do an online event. They completely brought it,
              both were awesome. Here I am setting them both up. So I actually have the speakers on zoom taking into ops broadcasting on Twitch, and I've got multiple monitors to kind of make sure everything's going all right. We had over a hundred viewers
              at a time of you know, one 77 uniques. I would say overall, it worked pretty well after the talks for the connection part. We use zoom instead of just doing one meeting where everyone was, was coming in there. I didn't really want 30 people
              in the same zoom or one or two people are talking and everyone else just staring into their, to their webcam. So instead I created four different ones and gave them little nicknames. They all got their own short link URLs to redirect people
              to them. So the idea was you could start in the one that was nicknamed the stage and that's where the speakers were. And you could do the Q and a, and then you could go once you wanted to try something new, you could then go to the, the
              short link for the bar. And that's where some of the JSA organizers were hanging out. Or if you wanted a smaller, conversational group, something a little bit more intimate the lounge and the patio.
            </p>

            <p>
              So we had four of those. It didn't really work amazingly well, but it was, it was fine. The Twitch part was great. I thought that was awesome. But for the zoom part, I think it could have been a little bit better room for improvement. So for the second
              attempt, what I really wanted to do was fix it myself, right? I know JavaScript. I can build tools, products, services, really the world is my oyster. And so for this one, we did Twitch and <a href="//rambly.app">Rambly</a>              might be asking, what is <a href="//rambly.app">Rambly</a>? So <a href="//rambly.app">Rambly</a> is just a web app. You go to it in your browser, looks at it like this. You can create a room, you can choose an avatar. Once you select one
              you can choose how it accesses your microphone. So this is an audio conference app, but in the form of a game, it's not really a game.
            </p>

            <p>
              There's no objective. You walk around and you can speak with your microphone. And if people are around you, they can hear you. If they're far away, you sound faint. So what this looks like after js.la is something like this. So each one of these people,
              a to js.la attendee, and as you can see, there's different conversations going on at the same time. Unfortunately, I don't have audio for this, but the chat bubbles correspond to when people are talking. So you can see there are different
              simultaneous conversations going on at the same time. And people can more organically walk between them. Someone can say, Oh, they were talking about spelt over there. I'll walk over there. Or if they've been in a conversation group for
              a little too long, they might say, Hey, it was great catching up. I'm going to go walk, see some other people I will catch up with you later.
            </p>

            <p>
              This worked so much better. It was, it was just much more natural. People could go in and out of different conversations. And the energy was so much better. It was definitely approaching what we have at in-person chance, live events, a huge, huge improvement,
              but something was still missing. So at a js.la, the talks the, the conversations don't just happen at the end, right? When you are waiting for the event to start, or maybe in the intermission, you're talking to people about, Hey, have you
              been to a js.la before? What are you working on? Or the intermission like that talk was awesome. I tried this and those conversations are just way richer and more fulfilling. And just having <a href="//rambly.app">Rambly</a>              at the end, I didn't feel like was the answer. So I modified <a href="//rambly.app">Rambly</a> in response to where I thought it needed to go.
            </p>

            <p>
              And so I actually built a way to have Twitch inside of <a href="//rambly.app">Rambly</a>. So you could go into <a href="//rambly.app">Rambly</a> and watch Twitch in there alongside the other attendees. And so this is a little bit of what
              it looked like. So down in the bottom again, sorry, no audio down the bottom. You can see people are having a, there's a group of people having a conversation. And then at a point in time, when the stream starts, I show up on the screen
              wearing a cool hat. People realize that the, the show is starting. And so they wind down their conversations and they walk over to the screen, kind of like to get a good seat similar to the conversations. Twitch gets louder, the closer you
              are to the screen. And so people move over there seeing this made me so happy because it really mirrored what happens at the live events.
            </p>

            <p>
              I don't have a video of it, but the same thing kind of happens in reverse. So after the first talk, people then get up and start walking around after the talk, and then they form conversation to say, Hey, that was really cool. What did you think of the
              talk? And then the conversations go from there. And it just worked so much better. I was thrilled. And so that, that type of iteration really paid off being able to work on my own platform. And so if I had just have one takeaway from this
              is that things are really strange, no matter how things get screwed up or different. And we approach this like new normal we can adapt, like we have the power to build. We can build what is missing, the things that are gonna make our lives
              better. For me, I could see how js.la moving to online could be improved and through the power of JavaScript, which we all have, we can all use it.
            </p>

            <p>
              There are so many powerful tools and technologies available to us. We can make native apps and mobile apps and use machine learning with TensorFlow and web RTC is, is what I was using here. And the web audio API, there are so many cool things we can do
              seriously. And so if there's one thing I can say, it's that I think we all have these things in our lives. There's all of this room for improvement, all of these missing things that we can build and help and make our friends and our community
              lives better. So I hope you take that to heart and thanks. If you want to talk to me, David Guttman on Twitter, I'll be answering some Q and a in a minute. If you want to know how <a href="//rambly.app">Rambly</a> is built,
              you can go to dry.ly. I've got a long writeup of how that that game engine was done. It's really just with react. It's extremely vanilla aside from the react part. And of course you can try <a href="//rambly.app">Rambly</a> yourself. It's
              open. You can create a room, have a virtual happy hours or parties in there. And js.la is also now easier to get to them before you don't have to come to LA. We are on line. So thanks everyone. And I hope to talk to you soon.
            </p>
          </div>

          <div class='flex flex-column ma4' style='width: 170px'>
            <a href='slides/Screenshot_2020-09-30 Screenshot(00).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(00).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(01).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(01).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(02).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(02).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(03).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(03).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(03)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(03)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(04).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(04).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(05).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(05).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(06).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(06).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(07).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(07).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(11).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(11).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(12).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(12).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(13)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(13)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(13)b.png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(13)b.png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(14).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(14).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(14)b.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(14)b.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(15)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(15)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(16)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(16)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(17)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(17)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(18)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(18)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(19)a.png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(19)a.png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(20)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(20)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(21)a.jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(21)a.jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(22a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(22a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(23a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(23a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(24a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(24a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(25a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(25a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(26a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(26a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(27a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(27a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(28a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(28a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(29a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(29a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(30a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(30a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(31a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(31a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(32a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(32a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(33a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(33a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(34a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(34a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(35a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(35a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(36a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(36a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(37a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(37a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(38a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(38a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(39a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(39a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(40a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(40a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(41a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(41a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(42a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(42a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(43a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(43a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(44a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(44a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(45a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(45a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(46a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(46a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(47a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(47a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(48a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(48a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(49a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(49a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(50a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(50a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(51a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(51a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(52a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(52a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(53a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(53a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(54a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(54a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(55a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(55a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(56a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(56a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(57a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(57a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(58a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(58a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(59a).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(59a).png' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(60a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(60a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(61a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(61a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(62a).jpg' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(62a).jpg' /></a>
            <a href='slides/Screenshot_2020-09-30 Screenshot(63).png' target='_blank'><img class='w-100 pa1' src='slides-sm/Screenshot_2020-09-30 Screenshot(63).png' /></a>

          </div>

        </div>

      </div>
    </div>
</section>
