<head>
  <title>js.la - JavaScript Los Angeles</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
  <link rel="shortcut icon" href="/images/jsla_152.png" type="image/png">
  <link rel="apple-touch-icon" href="/images/jsla_152.png" type="image/png">
  <link href="/assets/css/lity.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/css/custom.css" />
  <noscript><link rel="stylesheet" href="/assets/css/noscript.css"/></noscript>
</head>
