div.jsla-action-buttons
    a.pure-button.jsla-button-xlarge( href="#{titoUrl}" itemprop="tickets" ) <i class="icon-ticket"></i> RSVP for event 
    a.pure-button.jsla-button-xlarge( href="https://www.meetup.com/Los-Angeles-JavaScript-and-Node-js/" itemprop="tickets" ) <i class="fa fa-meetup"></i> RSVP on meetup
    a.pure-button.jsla-button-xlarge( href="http://eepurl.com/jdRNb" ) <i class="icon-email"></i> Join mailing list
span.jsla-subtitle.clearfix <b>RSVPed:</b> 22 <b>Waitlisted:</b> 15

