div.jsla-action-buttons
    a.pure-button.jsla-button-xlarge( href="#{titoUrl}" ) <i class="icon-ticket"></i> RSVP for event
    a.pure-button.jsla-button-xlarge( href="http://eepurl.com/jdRNb" ) <i class="icon-email"></i> Join mailing list
