div.jsla-content-section.layer-2.jsla-drinks-container
    div.jsla-drinks-logo
        img( src="/images/drinks.svg" alt="drinks.js" )
    div.jsla-drinks-info
        h4 Come to
        h1 Drinks.js
        h4 after the talks, around 9:15
        if url
          h3.jsla-drinks-location
              a( href="#{url}" title="#{name}" target="_blank" )= "at " + name
