div.jsla-content-section.layer-2.jsla-drinks-container.pure-g
    div.pure-u-1-3
        img( src="/images/drinks.svg" alt="drinks.js" )
    div.pure-u-2-3
        h4 Come to
        h1 Drinks.js
        h4 after the talks, around 9:15