div.jsla-featuredVideos-box
    span.jsla-sponsored-by.clearfix Featured videos 

    ul.jsla-featuredVideos
        each video in featuredVideos
            li.layer-2.u-display--inlineBlock.jsla-featuredVideo-container 
                - var videoUrl = (video.video || '').toString().match(/^http/) ? video.video : 'http://vimeo.com/' + video.video
                a.jsla-video-container( rel="lightbox-video-#{github}" href="#{videoUrl}" )
                    img.videoimg.jsla-featuredVideo(src="/images/videos/#{video.videoimg}")
    
    span.clearfix 
        a.pure-button.jsla-button-xlarge( href="/youtube" ) Find more on YouTube
