div.jsla-footer.jsla-toplevel-container
    p Join us on the js.la Slack 
    script(src="https://join-jsla-slack.herokuapp.com/slackin.js?large" async)
    h3 We <span class="color-red"><3</span> LA
