header.jsla-hero.layer-1( data-photos=heroPhotos )
    div.jsla-hero-table
        div.jsla-hero-content.jsla-toplevel-container.wide

            a.jsla-hero-logo( href="/" )
                img( src="/images/logo.svg" alt="js.la logo" class="jsla-logo-image" onerror="this.src='/images/logotype-trans.png'" )
                span.jsla-tagline.jsla-large-text The Los Angeles Javascript meetup.

            if message
                p.jsla-hero-message.jsla-medium-text= message
            
            != partial( "_action-buttons", { eventUrl: null } )
            
            if featuredVideos.length
                !=partial ( "_featured-videos" )
