nav.pure-menu.pure-menu-open.pure-menu-horizontal.jsla-topnav.layer-2
    div.jsla-mobile-menu( tabindex="0" )
        i.icon-menu
        img( src="/images/logo.svg" alt="JS.LA logo" class="jsla-logo-image" onerror="this.src='/images/logotype-trans.png'" )

    ul
        li
            a(href="/") Upcoming Event
        li
            a(href="/events/2016") Past Events
        li
            a(href="/code-of-conduct") Code of Conduct
        li
            a(href="/sponsorship") Sponsorship
        li
            a(href="/about") About
        li
            a(href="http://eepurl.com/jdRNb") Newsletter
        li
            a(href="https://jsla-slackin.herokuapp.com/") Slack
