ul.jsla-speakers-list
    != partial( "_speaker", { image: "speaker.png", speaker: 'This could be you', title: "PSA: Want to present?", description: "Hit us up on <a href=\"https://twitter.com/jsdotla\">@jsdotla</a>. We are looking for more talks for future meetup. If you want to present, let us know." })
