ul.jsla-speakers-list
    != partial( "speakers/_speaker", { image: "speaker.png", name: 'This could be you', title: "Want to present, host, or sponsor?", description: "Head to <a href=\"https://contribute.js.la\">contribute.js.la</a> and fill out the relevant form! We will get back to you as soon as we can. Also, feel free to hit us up on Twitter with questions, <a href=\"https://twitter.com/jsdotla\">@jsdotla</a>. We are always looking for more talks for future events. If you want to present, let us know!" })
