<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The js.la Mentorship Program</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  </head>
  <body>
    <main>
      <article class="bg-white">
        <div class="vh-25 cover bg-center" style="background-image: url(brooke-cagle-609873-unsplash.jpg); background-position: 50% 29%"></div>
        <div class="ph4 ph5-m ph6-l">
          <div class="measure f3 center pt5">
            <h1 class="fw6 f1 fl w-100 black-70 mt0 mb3 avenir">The js.la Mentorship Program</h1>
            <p class="db lh-copy black-70 serif fw1 mv2 f4 f3-m f2-l measure baskerville">
              The moment you've been waiting for, it's the js.la Mentorship Program!
            </p>

            <div class='mt3' style="width:100%;height:0;padding-bottom:63%;position:relative;"><iframe src="https://giphy.com/embed/tyxovVLbfZdok" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          </div>

          <div class="measure f3 center mv5 black-70">
            <h1 class="fw6 f3 avenir">Ok, but what is it?</h1>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              We want to connect the js.la community and work together to get to the top of our game.
            </p>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              No matter where you are in your career, having a mentor is a huge advantage. If you're just starting out, your mentor can get you on the right trajectory. The right mentor can help with networking, interviewing, offer negotiation, and how to successfully work on a team. They've been there before!
            </p>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              If you're a mid-level developer and you're looking to make that jump to get a senior title, a mentor can help you develop the leadership and communication skills needed to get there.
            </p>

            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              If you're a senior developer, you might want a mentor who has specific experience related to what you want to do next. Thinking about what it would be like to have your own startup? Go into academia? Want to start a dev shop/agency? Make the jump to management? We have some heavy hitters in js.la who can tell you all about it.
            </p>

            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              On the other side, if you're a mid or senior-level developer and have been through the job-finding gauntlet, you have valuable experience to share with people starting out, and acting as a mentor is the best way to build those skills you need to level up and tackle new roles.
            </p>
          </div>

          <div class="measure f3 center mv5 black-70">
            <h1 class="fw6 f3 avenir">How is it structured?</h1>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              The js.la Mentorship Program is a series of one-on-one video/screenshare meetings between you and your mentor/mentee.
            </p>

            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              By joining this program you agree to be available for a standing one hour video/screenshare call every other week (~2 hours/month). We understand that life can get in the way, and rescheduling is totally ok. However, you will need to decide on a recurring day/time upfront (e.g. every other Wednesday at 7pm).
            </p>

            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              In addition to online meetings, you are encouraged to catch up with your mentor/mentee in person at js.la and/or NodeSchool.
            </p>
          </div>

          <div class="measure f3 center mv5 black-70">
            <h1 class="fw6 f3 avenir">Tell me more about one-on-ones</h1>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              Depending on the needs of the mentee the exact structure of the one-on-one video call/screenshare will differ, but once you get into the swing of things, a typical meeting will consist of:
            </p>

            <ul class="lh-copy measure f4 f3-ns black-70 baskerville">
              <li>
                The mentee reviewing what's been going on for them (how learning/job search/work/personal project/etc is going),
              </li>
              <li>
                Any specific updates on anything the mentor asked them to do last time (e.g. reading an article, solving a code challenge, adding a feature/PR to an open source project, etc...)
              </li>
              <li>
                Back and forth questions/answers between mentor and mentee about these updates
              </li>
              <li>
                Mentor will suggest areas of development for the mentee and can assign items for exploration (suggested readings, exercises, etc..)
              </li>
              <li>
                Anything else the mentee would like to ask/discuss before time is up.
              </li>
            </ul>
          </div>

          <div class="measure f3 center mv5 black-70">
            <h1 class="fw6 f3 avenir">Ok, I'm sold. What next?</h1>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              Great to hear. If you'd like to either mentor or find a mentor, please <a href="https://docs.google.com/forms/d/e/1FAIpQLScFPcoBMmCNouYLwmrypV4d7yopVPINknpMCRF881hEugX79A/viewform" target="_blank">fill out the mentorship program form</a>. We will be accepting form submissions until November 1st, 2018.
            </p>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              After November 1st, we will review submissions and begin to work with mentors to match them with appropriate mentees.
            </p>
            <p class="lh-copy measure f4 f3-ns black-70 baskerville">
              Mentors should expect to hear from us shortly after November 1st, and mentees should expect to hear from their mentor before November 14th.
            </p>

            <p class="lh-copy measure f4 f3-ns black-70 flex items-center justify-center">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScFPcoBMmCNouYLwmrypV4d7yopVPINknpMCRF881hEugX79A/viewform" target="_blank" class=" ma5 center avenir f2 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
                <span class="pl1">Let's Do This Thing</span>
              </a>
            </p>
          </div>

        </div>
      </article>
    </main>
  </body>
</html>
