// this file is used to generate sub event pages
- var _event = public.events[@year]._data.events[@eventIndex]
!= partial("../../../_speaker", { speaker: _event.speakers[@index], event: _event, year: "@year", eventPath: "@event" } )
