!= partial("../_nav", {night: true})

div.main-width
    div.past-event-announcement
        span A collection of all our presentations

    each event in public.events._data.events
        != partial("../_top", {datetime: event.datetime, host: event.host.name, titoUrl: event.titoUrl, sponsors: event.sponsors, current: false})
        each speaker in event.speakers
            != partial("../_speaker", {title: speaker.title, speaker: speaker.name, description: speaker.description, twitter: speaker.twitter, github: speaker.github, image: speaker.image, video: speaker.video})
