a.rsvp-button(href="#{titoUrl}") RSVP Required &raquo;
p(style="text-align:center") 
    a(href="http://eepurl.com/nDJiD") Make sure to join the mailing list to get JSLA updates sent directly to your inbox.
