doctype
html
  head
    meta(charset="utf-8")
    title JS.LA - A monthly JS meetup
    script(type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js")
    script(type="text/javascript" src="/js/jquery.fancybox.pack.js")
    script(type="text/javascript" src="/js/jquery.fancybox-media.js")
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen")
    
  body
    != yield
    
    script.
        $(function() {

          $(".various").fancybox({
            maxWidth  : 1000,
            maxHeight : 800,
            fitToView : false,
            width   : '70%',
            height    : '70%',
            autoSize  : false,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
          });

          $('.fancybox-media').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {}
                }
            });

          $('a[rel=lightbox]').fancybox()
        });