doctype
html
  head
    meta(charset="utf-8")
    title JS.LA - A monthly JS meetup
    link(rel="stylesheet" href="/css/reset.css")
    link(rel="stylesheet" href="/css/main.css")
    
  body
    != yield
