doctype
html
  head
    meta(charset="utf-8")
    title JS.LA - A monthly JS meetup
    link(rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css" media="screen")
    link(rel="stylesheet" href="/css/main.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta( name="description" content="JS.LA is a user group in the Los Angeles area. Where angelinos can meetup and talk about Javascript, Node.js, and IO.js" )
    meta( property="og:title" content="JS.LA - A monthly JS meetup" )
    meta( property="og:type" content="website" )
    meta( property="og:image" content="http://js.la/images/js.jpg" )
    meta( property="og:site_name" content="JS.LA" )
    meta( property="og:url" content="http://js.la" )
    // track views as soon as we can
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55978450-1', 'auto');
      ga('send', 'pageview');

  body

    != partial( "components/_nav" )
    != yield
    != partial( 'components/_footer' )

    // remove min when in dev
    script(type="text/javascript" src="/js/bundle.min.js")
