div.lightning.clearfix
    img(src="images/speakers/speaker.png", alt="lightning speaker" class="lightning-image", height="110", width="110")
    div.lightning-detail
        h1 PSA: Want to present?
        h2 Hit us up on
            a(href="https://twitter.com/jsdotla") @jsdotla
        p We are looking for more talks for future meetup. If you want to present, let us know.
