div.jsla-toplevel-container.jsla-content-page.jsla-content-section.layer-2
  h1 About Us

  p js.la runs events that bring you the best speakers talking about JavaScript and related internet technologies, as well as educational workshops like NodeSchool.
