div.jsla-toplevel-container.jsla-content-page.jsla-content-section.layer-2
    h1 Code of Conduct
    p 
        a( href="http://js.la") JS.LA 
        span is dedicated to providing a harassment-free experience for everyone regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of js.la participants in any form. Sexual language and imagery is not appropriate for any js.la venue, including talks.

    p Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.

    p Participants asked to stop any harassing behavior are expected to comply immediately.

    p If a participant engages in harassing behavior, the js.la organizers may take any action they deem appropriate, including warning the offender or expulsion from js.la. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of js.la staff immediately.

    p Js.la staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of js.la.

    p We value your attendance.

    p 
        span( class="color-red" ) &lt;3 
        span Carlo, David, Jason, Jacob, and Mike

    a( href="mailto:all@js.la" ) all@js.la
