<section class="wrapper style3 container special firstbox">
        <header class="major">
          <h2>Frequently Asked Questions</h2>
        </header>
      
        <div class="row jsla-white-wrapper">
                <h3 id="whoRunsJsla">Who runs js.la?</h3>
                <p>A team of dedicated and community loving folks whom you can find more about on the <a href="/team">team</a> page.</p>
                <h3 id="whatIsJsla">What is js.la?</h3>
                <p>js.la runs events that bring you the best speakers talking about JavaScript and related internet technologies, as well as educational workshops like <a href="https://nodeschool.io/los-angeles/">NodeSchool</a> and general gatherings like <a href="http://lunch.js.la/">lunch.js</a>.</p>
                <h3 id="whenIsJsla">When is js.la?</h3>
                <p>The main event is always on the last Thursday of every month! You can always go to our homepage at <a href="/">js.la</a> to find out about the next one.</p>
                <p><a href="https://nodeschool.io/los-angeles/">NodeSchool</a> is on the first Saturday of every month.</p>
                <p> <a href="http://lunch.js.la/">lunch.js</a> is on the first Tuesday of every month (you can also host your own by creating an <a href="https://github.com/jsla/lunch.js/issues">issue</a> on the <a href="https://github.com/jsla/lunch.js">lunch.js repo</a> with our handy <a href="https://github.com/jsla/lunch.js/blob/master/ISSUE_TEMPLATE.md">issue template</a>.</p>
                <h3 id="butHow">But <i>HOW</i> can this be?</h3>
                <p>The main event is always on the last Thursday of every month! You can always go to our homepage at <a href="/">js.la</a> to find out about the next one.</p>
                <h3 id="whatToExpect">What should I expect if I attend?</h3>
                <p>We usually start off with some general mingling gathered around some type of fancy finger foods and refreshments (often alcoholic and always with non alcoholic options) or the everloved pizza. Once everything is set up and ready to go we make announcements and give an outline of the gala you're in for. When the gracious hosts and sponsors have given a kind word in addition to their hospitality it's off the races! One action packed talk, then a much needed reprieve to recoup and recover and before you know it BOOM! ANOTHER TALK! WAAAAATTTT!!! This is all followed by a crowd favorite with <a href="/drinks">drinks.js</a> where we venture into the wilderness and reconviene at the nearest and most obscure watering holes in Los Angeles. Don't be surprised if you see superstars like Andy Dick or Pauly Shore hanging around! They're 'people' just like the rest of us.</p>
                <h3 id="rsvp">How can I RSVP to an upcoming event?</h3>
                <p>The best way is to get on our <a href="http://us4.list-manage.com/subscribe?u=bb39146d31da3313db866eca6&id=2daf1a7bee">mailing list</a> as tickets tend to get reserved within minutes. We use <a href="http://jsla.eventbrite.com">http://jsla.eventbrite.com</a> for ticket reservations and kindly ask that if you reserve a seat to please fill it or release your ticket. We have a <a href="https://www.meetup.com/Los-Angeles-JavaScript-and-Node-js/">meetup</a> page as well but we primarily track tickets via eventbrite mentioned prior.</p>
                <p>We make tickets to our event available in two places. A portion are reserved for Meetup. The rest are reserved on our ticketing platform <a href="http://jsla.eventbrite.com">http://jsla.eventbrite.com</a> </p>
                <h3 id="waitlist">What if I'm on the waitlist?</h3>
                <p>Many people from the waitlist do get a ticket so do check back closer to the event. There tends to be a lot of cancelations before the event. Unfortunately, since we have limited space at the venue, we can't admit people without a ticket from <a href="http://jsla.eventbrite.com">jsla.eventbrite.com</a> or Meetup RSVP.</p>
                <p>Our events tend to sell out very quickly (sometimes from within minutes to within hours). The best way to get a ticket is to join our <a href="http://us4.list-manage.com/subscribe?u=bb39146d31da3313db866eca6&id=2daf1a7bee">mailing list</a> where we announce each event.</p>
                <h3 id="howCanIParticipate">How can I participate in an event as a Speaker/Host/Sponsor?</h3>
                <p>If you have to ask you'll never know. Just kidding! We have a page dedicated specifically for this and especially for you! Visit <a href="http://contribute.js.la/">contribute.js.la</a> and choose the appropriate option to fill out a short form to get started. Someone will reach out to you very soon afterwards and thank you in advance for the interest!</p>
                <h3 id="CoC">Is there a code of conduct?</h3>
                <p>We're so glad you asked! We absolutely have a CoC so as to make everyone feel very welcome and inclusive of meeting new people and making new friends in the name of the almighty JavaScript Overlords. It can be found <a href="/code-of-conduct">here</a></p>
                
        </div>
      </section>
  
