
if public._data.current.datetime
    // has current event
    != partial("components/_hero", public._data.current )
    div.jsla-current-event( id="current-event" itemscope itemtype="http://data-vocabulary.org/Event" )
        div.jsla-toplevel-container
            h1( itemprop="summary" )= public._data.current.title
            != partial("components/speakers/_list", public._data.current )
        div.jsla-toplevel-container
            p.jsla-datetime-content( itemprop="startDate" datetime="#{new Date( public._data.current.date ).toISOString()}" )= public._data.current.datetime
            != partial( "components/_action-buttons", public._data.current )
            if public._data.current.drinksjs.address
              != partial( "components/_drinks", public._data.current.drinksjs )
            != partial("components/_map", public._data.current.host )
        div.jsla-toplevel-container.wide
            if public._data.current.sponsors.length
              != partial( "components/_sponsors-box", { sponsors: public._data.current.sponsors } )
        div.jsla-toplevel-container
            != partial( "components/_want-to-present", {} )
else
    // empty state
    != partial("components/_hero-empty", public._data.current )
    div.jsla-toplevel-container
        != partial( "components/_want-to-present", {} )
