<section class="wrapper style3 container special firstbox">
  <header class="major">
    <h2>Thanks for Sponsoring!</h2>
    <p>We really appreciate the support.</p>
  </header>
  <br>
  <div class="row jsla-white-wrapper" style="text-align: center;">
    <p>To complete the process, please click one of the buttons below for payment:
    </p>
    <div style="display: flex; justify-content: center; width: 100%">
      <div>
        <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
          <input type='hidden' name='cmd' value='_s-xclick'>
          <input type='hidden' name='hosted_button_id' value='KXHWRLKYRXRHL'>
          <button type='submit' class='pure-button-secondary pure-button jsla-button-xlarge' name='submit' alt='PayPal - The safer, easier way to pay online!'>Sponsor Single Month</button>
          <img alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1'>
        </form>
      </div>

      <div>
        <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'><input type='hidden' name='cmd' value='_s-xclick'>
          <input type='hidden' name='hosted_button_id' value='86L34RHAYW9UJ'>
          <button type='submit' class='pure-button-secondary pure-button jsla-button-xlarge' name='submit' alt='PayPal - The safer, easier way to pay online!'>Sponsor Recurring</button>
          <img alt='' border='0' src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif' width='1' height='1'>
        </form>
      </div>
    </div>
  </div>
</section>
