div.jsla-toplevel-container.jsla-content-page.jsla-content-section.layer-2
    h1 Recurring Sponsorship

    p Set up recurring sponsorship here:

    div(class="u-textAlign--center")
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='hosted_button_id', value='86L34RHAYW9UJ')
              button(type='submit', class='pure-button-secondary pure-button jsla-button-xlarge', name='submit', alt='PayPal - The safer, easier way to pay online!') Sponsor JS.LA
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

    p
