<section class="wrapper style3 container special firstbox">
        <header class="major">
          <h2>Want to sponsor js.la?</h2>
          <p>We would love to have your company join the js.la community!</p>
        </header>

        <div class="row jsla-white-wrapper">
                <h3>What You Get:  </h3>
                <div class="sponsorship-list">
                <li>Opportunity to introduce your company to the attendees</li>
                <li>Company logo or custom slide on display throughout the event</li>
                <li>Company logo on all videos recorded that month</li>
                <li>Company logo on website with link</li>
                <li>Mention + link in email to full email list + on meetup announce/event page</li>
                <li>Tweets leading up to the event and after</li>
                </div>

                </div>
        <br>
                <div class="row jsla-white-wrapper">
                <h3>Sound Good?</h3>
                <p>
                To get started, please fill out either the

                <a href='http://contribute.js.la/host' target='_blank'> host</a>
                or
                <a href='http://contribute.js.la/sponsor' target='_blank'> sponsor</a>
                forms.
            </p>
        </div>
      </section>
      <div class="jsla-sponsors">
            <h3>Companies that have sponsored js.la:</h3>
            <div class="sponsors-list">
                <% let sponsors = public._data.pastSponsors
                for (var key in sponsors) {
                    if (sponsors.hasOwnProperty(key)) {
                    let sponsor = sponsors[key]%>
                    <a href="<%= sponsor.link %>">
                        <div class="sponsor" style="background-image: url(<%= pathToUrl(sponsor.logo) %>); background-size: contain">

                        </div>
                    </a>
                <%
            }
         } %>
            </div>
        </div>
