<section class="wrapper style3 container special firstbox">
  <div class='mw6 center'>
    <header class="major">
      <h2 class='pa4'>Be the first to know about js.la events.</h2>
    </header>

    <div class="row jsla-white-wrapper">
      <p>Join the list to hear about new js.la events and mentorship opportunities. Unsubscribe anytime.</p>

      <form method="post" action="https://sendfox.com/form/mpqjey/1k6q5j" class="sendfox-form center w-80" id="1k6q5j" data-async="true" data-recaptcha="false">
        <p class="w-100"><input type="text" placeholder="First Name" name="first_name" required /></p>
        <p class="w-100"><input type="email" placeholder="Email" name="email" required /></p>
        <!-- no botz please -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
        <p class="w-100"><button class="w-100" type="submit">Join!</button></p>
      </form>
      <script src="https://sendfox.com/js/form.js"></script>
    </div>
  </div>
</section>
