div.jsla-toplevel-container.jsla-content-page
  h1 The js.la Team
  ul.jsla-teamMember-list.pure-g
    each teamMember in public._data.team
      li.jsla-teamMember.pure-u-1-2.pure-u-sm-1
        != partial("components/speakers/_avatar-card", {member: teamMember, width: 180})

  h1 Alumni
  ul.jsla-teamMember-list.pure-g
    each teamAlumni in public._data.alumni
      li.jsla-teamMember.pure-u-1-2.pure-u-sm-1
        != partial("components/speakers/_avatar-card", {member: teamAlumni, width: 180})
