<section class="wrapper style3 container special firstbox">
  <div class='mw6 center'>
    <header class="major">
      <h2 class='pa4'>Thanks! Check your email!</h2>
    </header>

    <div class="row jsla-white-wrapper">
      <p>To get updates, check your email for the confirmation link.</p>

      <p>
        Go back to our homepage to check out <a href='/'>our next event</a>.
      </p>
    </div>
  </div>
</section>
