<% include ../_helpers.ejs %>
<section id="banner">
  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">
    <header>
      <h2>
        <img class="jsla-banner-logo w4" src="/images/jsla.png">
      </h2>
    </header>
    <p>
      The Los Angeles JavaScript meetup <br />
    </p>
    <footer>
      <ul class="buttons stacked">
        <li>
          <strong>
            <h2>Our Next Event:</h2>
            <!-- <h3><%= dateToReadable(new Date(event.date)) %></h3> -->
            <h3><a href='//lunch.js.la' style='text-decoration: underline'>Lunch.js</a>
              <br />
              <span id='nextLunch'>on the first Tuesday of every month</span></h3>
          </strong>
        </li>
        <li>
          <p>Check out past talks at <a href="//js.la/youtube">js.la/youtube</p>
        </li>
      </ul>

      <ul class="buttons stacked">
          <!-- <li><a href="//js.la/live" class="button fit scrolly">js.la/live</a></li> -->
          <li><a href="//join-jsla-slack.herokuapp.com/" class="button fit scrolly">Join Slack</a></li>
          <li><a href="/subscribe" class="button fit scrolly">Join Mailing List</a></li>
      </ul>
    </footer>
  </div>
  <% partial("sponsors", {event: event}) %>
</section>
