<% if((event.drinkjs || {}).name){ %><section class="wrapper style2 container special-alt">
        <div class="row gtr-50">
          <div class="col-4 col-12-narrower">
            <header>
              <h1>
                  Come to
              </h1>
              <h2>
                <strong>Drinks.js</strong>
              </h2>
            </header>
            <p id="jsla-drinksjs-text">
              <strong>
                after the talks, around 9:15<br>on four different Zoom rooms!
                <a href="<%= event.drinkjs.url %>">
                  <span class="jsla-drinkjs-location">
                  <div><a href='/zoom/bar'>The Stage</a></div>
                  <div><a href='/zoom/bar'>The Bar</a></div>
                  <div><a href='/zoom/bar'>The Lounge</a></div>
                  <div><a href='/zoom/bar'>The Patio</a></div>
                </span>
              </a>
              </strong>
            </p>
          </div>
          <div class="col-4 col-12-narrower imp-narrower">

              

          </div>
          <div class="col-4 col-12-narrower imp-narrower" style="text-align: center">
            <img src="/images/drinks.svg" height="250" />
          </div>
        </div>
      </section>
<% } %>
