nav.jsla-topnav,
nav.jsla-yearnav {
    box-shadow: none;
}

nav.jsla-topnav {
    position: fixed; // so we dont take up space
    top: 0;
    z-index: 12!important; // bump up one override pure
}

nav.jsla-yearnav {
    position: fixed;
    top: 48px;
    z-index: 11!important; // overiding pure-css
    line-height: 50px!important;
    text-align: center;
    ul li a {
        color: @secondary;
    }
}

nav.jsla-topnav > ul {
    display: none!important;
    text-align: center;
}

nav.jsla-topnav .jsla-mobile-menu {
    font-size: 1.5em;
    padding-left: 1em;
    line-height: 2em;
    display: table;
}

nav.jsla-topnav .jsla-mobile-menu i {
    vertical-align: middle;
}

nav.jsla-topnav .jsla-mobile-menu .jsla-logo-image {
    height: 20px;
    width: 57px;
    margin-left: .5em;
}

nav.jsla-topnav .jsla-mobile-menu:focus {
    outline: none;
    color: @primary; 
}

nav.jsla-topnav > ul li,
nav.jsla-topnav > ul li a,
nav.jsla-topnav .jsla-mobile-menu:focus ~ ul,
nav.jsla-topnav > ul:hover {
    display: block!important;
}

@media screen and ( min-width: 600px ) {
    nav.jsla-topnav {
        text-align: center;
        font-size: .8em;
    }

    nav.jsla-yearnav {
        top: 31px;
    }
    
    nav.jsla-topnav .jsla-mobile-menu {
        display: none;
    }

    nav.jsla-topnav > ul {
        display: inline-block!important;
    }

    nav.jsla-topnav > ul li,
    nav.jsla-topnav > ul li a {
        display: inline-block!important;
    }
    
}
