.jsla-sponsors-box {
    margin: 1em auto;
    display: table;
    font-size: .8em;
    text-align: center;
}

.jsla-sponsors-box .jsla-sponsors {
    list-style-type: none;
    padding: 0;
    margin: 3px 0;
}

.jsla-sponsors-box .jsla-sponsors .jsla-sponsor {
    background: white;
    margin: 3px;
    width: 275px;
    height: 100px;
    position: relative;
    display: inline-block;
}

.jsla-sponsors-box .jsla-sponsors .jsla-sponsor a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
}
