
/* line 11 : /Users/jxson/Code/js.la/stylesheets/main.styl */
body {
  margin: 1.125em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14.22px;
  line-height: 1.125;
  background-image: url("/images/wood.png");
  color: #505148;
}

/* line 19 : /Users/jxson/Code/js.la/stylesheets/main.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.125em 0;
  font-weight: bold;
}

/* line 23 : /Users/jxson/Code/js.la/stylesheets/main.styl */
h1 {
  font-size: 1.6875em;
}

/* line 26 : /Users/jxson/Code/js.la/stylesheets/main.styl */
p {
  margin: 1.125em 0;
}

/* line 29 : /Users/jxson/Code/js.la/stylesheets/main.styl */
a {
  color: #000;
}

/* line 31 : /Users/jxson/Code/js.la/stylesheets/main.styl */
a:hover {
  background-color: #242424;
  color: #f0f0f0;
  text-decoration: none;
}

/* line 36 : /Users/jxson/Code/js.la/stylesheets/main.styl */
#box {
  margin: 4.5em auto 1.125em auto;
  padding: 1.125em;
  padding-bottom: 0;
  width: 50%;
  border: 1px solid #000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.75), inset 0 1px 8px 1px #fff;
  -moz-box-shadow: 0 8px 16px rgba(0,0,0,0.75), inset 0 1px 8px 1px #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.75), inset 0 1px 8px 1px #fff;
}

/* line 46 : /Users/jxson/Code/js.la/stylesheets/main.styl */
#js-logo {
  background-image: url("/images/js.png");
  background-repeat: none;
  width: 120px;
  height: 120px;
  float: left;
  margin: 0 1.125em 1.125em 0;
}
